
#header-hero-wrapper{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    overflow: hidden;
    font-family: "Audiowide", sans-serif;
    flex-flow: column wrap;
}
    
    
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 24px;
    color: #F9FAF8;
    width: 100%;
    border: 10px;
    padding: 10px;
    margin: 40px;
    
    
}


.hero{
    display: flex;
    justify-content: center;
    color: #e5e7eb;
    justify-content: space-evenly;
    font-family: "Audiowide", sans-serif;
    background-image: linear-gradient(#f3f1f6ad, rgba(24, 1, 60, 0.666));
    border-radius: 10px;
    /*background-image: linear-gradient(#f3f1f6, rgba(24, 1, 60, 0.546));
    border-radius: 10px;*/
    text-align:center;
    margin-top: 10rem;
    
    padding: 6rem;
}

.hero-img{
    border-radius: 40px ;
    border: solid color ;
 
 
    
}

.Signup{
    
    background-image: linear-gradient(180deg, #7e1bf7, rgba(0, 0, 0, 0));
    border-color: #dae6f8;
    border-width: 1px;
    border-radius: 5px;
    color: #eaeee5;
    
    height: 2.3rem;
    width: 5.5rem;
    
    

}

.Signup:hover{
    
    text-shadow: 0px 0px 30px white,0px 0px 30px white,0px 0px 30px white,0px 0px 10px #553300,0px 0px 10px #553300;

}

.header-links{
    font-size: medium;
    margin-left: auto;
    list-style-type: none;
    padding-right: 50px;

}

.header-links a {
    color: #F9FAF8;
    text-decoration: none;
    padding-right: 50px;
    
}

.header-links a:hover {
    color: #F9FAF8;
    text-decoration: none;
    padding-right: 50px;
    text-shadow: 0px 0px 30px white,0px 0px 30px white,0px 0px 30px white,0px 0px 10px #553300,0px 0px 10px #553300;

}

.hero-img{
    height: 350px; 
    width: 250px;  
    
     
}

h2{
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    color: #dae6f8;
    margin-top: 20rem;
    

}

p{
    text-align: center;
}

.card{
    max-width: 206px;
    color: #e1e9f400;
    
}

.card:hover{
    color: #e1e9f4fd;
    transition: ease-in .7s;
    
}

.content-img{
    width: 200px;
    height: 200px;
    border: 3px solid #090401a4; 
    background-image: linear-gradient(#f3f1f6ad, rgba(24, 1, 60, 0.666));
    border-radius: 10px;
    transition: ease 0.1s;
    
}

.content-img:hover {
    transform:scale(1.05);
}
#hero2{
    background-image: linear-gradient(#f3f1f6ad, rgba(24, 1, 60, 0.666));
    border-radius: 10px;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: row wrap;
    /*color: #F9FAF8;*/
    margin-bottom: 10rem;
    padding: 6rem;
    
    
} 

#background {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    filter: brightness(1.2);
    z-index: -2;
}

.quote{
    margin-top: 20rem;
    text-align: center;
    color: #dae6f8;
    background-image: linear-gradient(#f3f1f6ad, rgba(24, 1, 60, 0.666));
    border-radius: 10px;
    padding: 6rem;
}

h3{
    text-align: center;
    color: #dae6f8;
}

.contact-me{
    display: flex;
    justify-content:space-evenly ;
    margin-top: 20rem;
    background-image: linear-gradient(#f3f1f6ad, rgba(24, 1, 60, 0.666));
    border-radius: 10px;
    padding: 6rem;
}
